body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 24px;
}

.button {
  margin-top: 12px;
  width: fit-content;
}
